.bg-info{
    background: linear-gradient(45deg,rgb(39, 149, 218),black);
    color: white;
}
.bg-danger{
      background: linear-gradient(45deg,rgb(66, 3, 3),rgb(43, 96, 3),rgb(90, 63, 6));
    color: white;

}
.btn-danger{
    background: linear-gradient(45deg,rgb(189, 47, 47),rgb(63, 63, 63));
    color: white;
}
.btn-info{
    background: linear-gradient(45deg,rgb(236, 113, 228),rgb(75, 89, 143));
    color: white;
}
.btn-warning{
    background: linear-gradient(45deg,rgb(193, 209, 111),rgb(61, 44, 56));
    color: white;
}
.btn-success{
    background: linear-gradient(45deg,rgb(55, 95, 5),rgb(48, 53, 72));
    color: white;
}

